@use '../../../vars/colors';
@use '../../../vars/mix' as *;
@use '../../../vars//breakpoints';

header {
  width: 95vw;
  border-radius: 5px;
  border: colors.$border;
  margin-top: 10px;
  flex-shrink: 0;

  .header__container {
    width: 100%;
    @include flex(center, space-around);

    p {
      font-size: 1.5em;
      flex-grow: 1;
      margin-left: 5px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: breakpoints.$breakpoint-tablet) {
        font-size: 1.2em;
      }

      @media (max-width: breakpoints.$breakpoint-mobile) {
        font-size: 0.8em;
      }
    }

    h1 {
      flex-grow: 1;

      @media (max-width: breakpoints.$breakpoint-tablet) {
        font-size: 1.2em;
      }

      @media (max-width: breakpoints.$breakpoint-mobile) {
        font-size: 1em;
      }
    }

    button {
      @include button(colors.$button-color, none, 10%);
      border-radius: 5px;
      margin: 10px;

      &:hover {
        background-color: colors.$button-hover;
        border: colors.$hover-border;
      }

      @media (max-width: breakpoints.$breakpoint-mobile) {
        @include button(colors.$button-hover, none, auto);
        margin: 0;
        font-size: 0.8em;

        &:active {
          border: none;
          text-decoration: underline;
        }
      }

      @media (max-width: breakpoints.$breakpoint-desktop) {
        width: 7em;
        font-size: 0.8em;
      }
    }
  }
}
