@use '../../vars/colors';
@use '../../vars/mix' as *;

.main__container {
  display: flex;
  width: 95vw;
  height: 70vh;
  border-radius: 5px;
  border: colors.$border;

  .main__users {
    width: 20vw;
    height: 70vh;
    border-right: colors.$border;
    @include flex(none, flex-start);
    flex-direction: column;
    gap: 10px;

    .search-form {
      margin: 5px;
      padding: 5px;
      font-size: 1.2em;
    }

    ul {
      font-size: 1.5em;

      li {
        @include flex(none, space-between);
        list-style: none;
        cursor: pointer;
        padding-left: 15px;

        svg {
          width: 5%;
          align-self: center;
          padding-right: 50px;
        }

        &:hover {
          background-color: colors.$hover-background;
        }
      }
    }
  }

  .main__chat {
    width: 90vw;
  }
}


