@use '../../vars/colors';
@use '../../vars/mix' as *;
@use '../../vars/breakpoints';

.main__container {
  box-sizing: border-box;
  display: flex;
  margin: 10px 0;
  flex: 1 0 auto;
  width: 95vw;
  border-radius: 5px;
  border: colors.$border;

  .main__users {
    height: 100%;
    width: 20vw;
    border-right: colors.$border;
    @include flex(normal, flex-start);
    flex-direction: column;
    gap: 10px;

    @media (max-width: breakpoints.$breakpoint-tablet) {
      opacity: 0;
      transition: all 0.1s ease-in-out;
      transform: translateX(-200%);
      z-index: 22;
      width: 0;
    }

    .search-input {
      width: 90%;
      min-width: 50%;
      margin: 5px;
      padding: 5px;
      font-size: 1.2em;

      &:focus::placeholder {
        color: transparent;
      }

      @media (max-width: breakpoints.$breakpoint-desktop) {
        width: 80%;
        font-size: 1.2em;
      }

      @media (max-width: breakpoints.$breakpoint-tablet) {
        font-size: 0.8em;
        width: 70%;
      }
    }

    ul {
      font-size: 1.5em;

      @media (max-width: breakpoints.$breakpoint-desktop) {
        font-size: 1em;
      }

      @media (max-width: breakpoints.$breakpoint-mobile) {
        font-size: 0.8em;
      }

      li.selected_user {
        background-color: colors.$hover-background;
      }

      li {
        @include flex(normal, flex-start);
        list-style: none;
        cursor: pointer;
        padding: 5px 0 5px 15px;
        gap: 20px;

        @media (max-width: breakpoints.$breakpoint-mobile) {
          padding: 5px 0 5px 5px;
        }

        > span {
          flex-grow: 1;
          align-self: center;
        }

        .message-counter {
          align-self: center;
          font-size: 0.8rem;
          border-radius: 40%;
          width: 1rem;
          height: 1rem;
          margin: 0 5px;

          background: colors.$message-counter-background;
          border: colors.$message-counter-border;
          color: colors.$button-hover;
          text-align: center;
          flex-grow: 0;
        }

        .message-counter.hidden {
          display: none;
        }

        svg {
          order: -1;
          flex-grow: 0;
          width: 1rem;
          align-self: center;

          @media (max-width: breakpoints.$breakpoint-desktop) {
            width: 0.7rem;
          }
        }

        &:hover {
          background-color: colors.$hover-background;
        }
      }
    }
  }
}

@media (max-width: breakpoints.$breakpoint-tablet) {
  .main__users.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.1s ease-in-out;
    width: 30vw;
  }
}
