@use '../../vars/colors';
@use '../../vars/mix' as *;
@use '../../vars/breakpoints';

.main__chat {
  @include flex(normal, space-between);
  height: 100%;
  flex-direction: column;
  width: 90vw;
  box-sizing: border-box;

  @media (max-width: breakpoints.$breakpoint-tablet) {
    width: 100vw;
  }

  .main__chat__user {
    @include flex(center, flex-start);
    box-sizing: border-box;
    height: 10%;
    border-radius: 0 5px 0 0;
    background-image: colors.$background-image-dialogue-header;

    @media (max-width: breakpoints.$breakpoint-tablet) {
      border-radius: 5px 5px 0 0;
    }

    .icon-wrapper.transform {
      transform: rotate(90deg);
    }

    .icon-wrapper {
      visibility: hidden;

      @media (max-width: breakpoints.$breakpoint-tablet) {
        visibility: visible;
        cursor: pointer;
        margin: 10px;
      }
    }

    .user-name {
      font-size: 1.5em;
      padding: 10px;

      @media (max-width: breakpoints.$breakpoint-tablet) {
        font-size: 1.2em;
      }

      @media (max-width: breakpoints.$breakpoint-mobile) {
        font-size: 0.8em;
      }
    }

    .user-status {
      font-style: italic;
      font-size: 0.8em;
    }
  }

  .message.message_right {
    align-self: flex-end;
    border-radius: 15px 0 15px 15px;
    background: colors.$button-color;
  }

  .message.message_left {
    align-self: flex-start;
    border-radius: 0 15px 15px 15px;
    background: colors.$border-color;
  }

  .main__chat__dialogue {
    @include flex();
    flex-direction: column;
    box-sizing: border-box;
    height: 65vh;

    .welcome-message {
      font-size: 1.5em;

      @media (max-width: breakpoints.$breakpoint-desktop) {
        font-size: 1.2em;
      }

      @media (max-width: breakpoints.$breakpoint-tablet) {
        font-size: 1em;
      }
    }

    .message {
      display: flex;
      margin: 5px;
      flex-direction: column;
      padding: 10px;
      gap: 15px;

      .message__user {
        border-bottom: colors.$message-dividing-border;
        display: flex;
        font-size: 1em;

        .message__time {
          margin: 0 15px;
        }
      }

      .message__status {
        display: flex;
        justify-content: flex-start;
        height: 1.2em;

        svg {
          width: 1.2em;
        }

        .message_delivery {
          order: 2;
          flex-grow: 0;
        }

        .message_delete {
          flex-grow: 0;
          cursor: pointer;
        }

        .message_edit {
          flex-grow: 1;
          cursor: pointer;
        }
      }
    }

    &:has(.message) {
      overflow-y: scroll;
      justify-content: normal;

      .message:first-child {
        margin-top: auto;
      }
    }
  }

  .main__chat__msg {
    @include flex(center, space-between);
    box-sizing: border-box;
    border: none {
      top: colors.$border;
    }

    input[type='text'] {
      width: 90%;
      margin: 5px;
      padding: 5px;
      font-size: 1.2em;

      &:focus::placeholder {
        color: transparent;
      }

      @media (max-width: breakpoints.$breakpoint-mobile) {
        font-size: 1em;
      }
    }

    button {
      @include button(colors.$button-color, none, 5em);
      text-transform: none;
      border-radius: 5px;
      margin: 0 20px;

      &:hover {
        background-color: colors.$button-hover;
        border: colors.$hover-border;

        &:disabled {
          background-color: colors.$button-color;
          border: none;
        }
      }
    }
  }
}
