@use '../../vars/colors';
@use '../../vars/mix' as *;
@use '../../vars/breakpoints';

main {
  @include flex();

  .login-img {
    width: 50vw;
    height: 100vh;

    @media (max-width: breakpoints.$breakpoint-desktop) {
      display: none;
    }

    img {
      width: 100%;
      height: 90%;
    }
  }

  .form-box {
    box-sizing: border-box;
    margin: 50px;
    width: max(30%, 500px);
    min-height: 50vh;
    background-image: colors.$background-image;
    border-radius: 20px;

    @include flex();
    flex-direction: column;

    @media (max-width: breakpoints.$breakpoint-desktop) {
      @include center-display();
      width: min(500px, 100%);
      margin: 0;
    }

    h1 {
      text-align: center;
      font-size: 3em;

      font-family: 'Lora', serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: italic;

      @media (max-width: breakpoints.$breakpoint-desktop) {
        font-size: 2em;
      }
    }

    form {
      @include flex(center, normal);
      width: min(300px, 100%);
      flex-direction: column;
      gap: 10px;

      .inputbox {
        @include flex(normal, normal);
        width: 100%;
        flex-wrap: wrap;

        label {
          @include flex();
          flex-shrink: 0;
          height: 50px;
          width: 50px;
        }

        &:has(~ input[type='submit']:focus):has(> input:invalid) {
          & .requirements {
            max-height: 200px;
          }
        }
      }

      .submit,
      button {
        @include button(colors.$border-color, colors.$login-input-border);
        margin: 10px;

        &:hover {
          background-color: colors.$button-hover;
        }
      }

      input[type='text'],
      input[type='password'] {
        border: colors.$login-input-border;

        box-sizing: border-box;
        flex: 1 0 50%;
        min-width: 0;
        height: 50px;

        padding-bottom: 5px;
        background: white;
        outline: none;
        font-size: 1.5em;

        text-align: center;

        &:hover {
          border: colors.$border;
        }

        &:focus::placeholder {
          color: transparent;
        }

        &:invalid:focus,
        &:invalid:not(:focus):not(:placeholder-shown) {
          border-color: colors.$requirements-color;
        }

        &:invalid:focus:not(:placeholder-shown) ~ .requirements {
          max-height: 200px;
        }
      }

      & ::placeholder {
        font-size: 0.7em;
      }

      .requirements {
        transition: 0.28s;
        color: colors.$requirements-color;
        font-style: italic;
        white-space: pre-line;
        text-align: justify;
        line-height: 23px;

        margin-top: 20px;
        padding: 0 0 0 20px;
        max-height: 0;
        overflow: hidden;
        flex-grow: 100%;
      }
    }
  }
}
