$border-color: #466eb6;
$button-color: #a1c2f5;
$button-hover: #ffffff;
$message-background: #608ee1;
$hover-background: #b3afaf9e;
$dialogue-header-background: #b6d2fa;
$message-counter-background: #a1c2f5;
$requirements-color: #ff0000;
$message-counter-border: 2px solid #a1c2f5;
$message-dividing-border: 1px solid black;
$invalid-form-border: 2px solid #75a6f0;
$login-input-border: 2px solid #a1c2f5;
$about-border: 5px solid #466eb6;
$border: 2px solid #466eb6;
$hover-border: 2px solid #000000;
$background-image: linear-gradient(to right top, #a1c2f5, #b6d2fa, #c7f1ff);
$background-image-footer: linear-gradient(#c7f1ff, #b6d2fa, #a1c2f5);
$background-image-dialogue-header: linear-gradient(#a1c2f5, #b6d2fa, #c7f1ff);
$error-background-color: rgba(41, 41, 41, 0.6);
