@use '../../vars/colors';
@use '../../vars/mix' as *;

main {
  .about {
    @include center-display();
    @include flex();
    flex-direction: column;
    width: 40vw;
    height: 50vh;

    margin: 0;
    border: colors.$about-border;
    border-radius: 20px;

    h2 {
      font-size: 2em;
    }

    p {
      padding: 20px;
      font-size: 1.5em;
      text-align: center;
    }

    button {
      @include button(colors.$border-color, colors.$border);

      &:hover {
        background-color: colors.$button-hover;
      }
    }
  }
}
